body {
    background-color: beige; 
}

.container-1 {
    text-align: center;
    border: 1px solid #000000;
    border-style: dashed;
    margin: 0 auto; 
    width: 75%;
}

.results-container {
    border: 1px solid #000000;
    padding: 10px;
    flex-wrap: wrap;
    margin: auto;
}

.results-container div {
    display: flex;
    align-items: center;
}

.text-field-container {
    border: 1px solid #000000;
    border-style: solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    margin: 0 auto; 
    width: 75%;
}

.button-container {
    border: 1px solid #000000;
    border-style: dashed;
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto; 
    width: 75%;
}

.bmi-chart-container {
    border: 1px solid #000000;
    border-style: solid;
    margin: 0 auto; 
    width: 75%;
    padding: 10px;
}

.bmi-chart-container table {
    margin-left: auto;
    margin-right: 120px;
    padding: 10px;
    width: 50%;
    height: 50%;
    display: flex;  
}

.bmi-chart-container td, th {
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
}

.bmi-chart-container tr:nth-child(even) {        
    background-color: lightgrey;
}